{% extends 'email/base.html.twig' %}

{% block title %}
    {{ 'user.verification.subject' | trans({}, 'emails') | raw }}
{% endblock %}

{% block content %}
    <h1 style="font-size: 24px; line-height: 26px;">{{ 'user.verification.content.header' | trans({}, 'emails') }}</h1>
    <p>{{ 'user.verification.content.text' | trans({
        '{{ verificationLink }}': app_url ~ path('user.verify', {code: verificationCode}),
        '{{ app_host }}': app_host,
        '{{ app_url }}': app_url,
        '{{ link_color }}': link_color,
    }, 'emails') | raw }}</p>
{% endblock %}
