{#Since error pages extend base.html.twig, but locale is not extracted properly on error page,
    we need to extract is manually from request
Only for base.html.twig and error.html.twig#}
{% set realLocale = realLocale() %}

<!DOCTYPE html>
<html lang="{{ realLocale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
